<div class="cards-center">
  <mat-card>
      <mat-card-title>Members</mat-card-title>
      <mat-card-content>{{Nb_Members}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Events</mat-card-title>
      <mat-card-content>{{Nb_Events}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Articles</mat-card-title>
      <mat-card-content>{{Nb_Articles}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Publications</mat-card-title>
      <mat-card-content>{{Nb_Pubs}}</mat-card-content>
  </mat-card>
</div>



<div class="charts-container">
  <div class="chart-wrapper">
    <canvas baseChart
            [type]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions">
    </canvas>
  </div>

  <div class="chart-wrapper">
    <canvas baseChart
            [type]="'pie'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions">
    </canvas>
  </div>
</div>
