<div class="cards-center">
  <mat-card>
      <mat-card-title>Members</mat-card-title>
      <mat-card-content>{{Nb_Members}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Events</mat-card-title>
      <mat-card-content>{{Nb_Events}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Articles</mat-card-title>
      <mat-card-content>{{Nb_Pubs}}</mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-title>Tools</mat-card-title>
      <mat-card-content>{{Nb_Tools}}</mat-card-content>
  </mat-card>
</div>



<div class="charts-container">
  <div class="chart-wrapper">
    <h3 style="text-align:center">Nombre des entités</h3>
    <canvas baseChart
            [type]="'bar'"
            [datasets]="barData"
            [labels]="barLabels"
            [options]="chartOptions">
    </canvas>
  </div>

  <div class="chart-wrapper">
    <h3 style="text-align:center">Membres par type</h3>
    <canvas baseChart
            [type]="'doughnut'"
            [datasets]="memberTypeData"
            [labels]="memberTypeLabels"
            [options]="chartOptions">
    </canvas>
  </div>

  <div class="chart-wrapper">
    <h3 style="text-align:center">Publications par type</h3>
    <canvas baseChart
            [type]="'pie'"
            [datasets]="publicationTypeData"
            [labels]="publicationTypeLabels"
            [options]="chartOptions">
    </canvas>
  </div>

  <div class="chart-wrapper">
    <h3 style="text-align:center">Publications au cours des années</h3>
    <canvas baseChart
            [type]="'line'"
            [datasets]="publicationsData"
            [labels]="publicationsLabels"
            [options]="chartOptions">
    </canvas>
  </div>
</div>
