<form>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Cin">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="CV">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Type">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Created date">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>